@import "/onlineInterviews/Components/General.css";

/* Survey Page */

/* Survey section */

.Survey .content{
    padding-top: 30px;
    padding-bottom: 30px;
}

.Survey .content h1{
    font-size: 83px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    color: #4A4C67;
}

.Survey .content h1:after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width:83%;
    height: 7.5px;
    background-color: #4A4C67;
}

.Survey .content h2 {
    font-size: 50px;
    margin-top: 12px;
    font-weight: 700;
    color: #4A4C67;
}

.survey-form {
    position: center;
    top: 150%;
    color: black;
    left: 20%;
}

.textbox {
    width: 30%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
    color: #4A4C67;
}

.textbox input {
    border: black;
    outline: black;
    background: none;
    color: black;
    font-size: 20px;
    width: 80%;
    float: left;
    margin: 0 10px;
    cursor: pointer;

}

.Survey-content  .content .text-box{
    background-position: center;
    padding-bottom: 60px;
}

.Survey .content p {
    font-size: 60px;
    margin-top: 12px;
    font-weight: 700;
    color: #4A4C67;
}

.button {
    width: 100%;
    background:rgb(197, 243, 235);
    border: 2px solid;
    color:black;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 12px;
}
section {
    background-image: url(/onlineInterviews/Images/greenbackground.png);

}
/* end Survey section */

/* Survey-content section */
