@import "/onlineInterviews/Components/General.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/*Login*/

.login-page-site {
    padding: 175px 5px;
    background-image: url(/onlineInterviews/Images/greenbackground.png);
}


.login-page-site .head-text h1 {
    color:  #4A4C67;
    font-size: 80px;
    letter-spacing: 16px;
    position: relative;
    margin-top: 10px;

}


.login-page-site .head-text h1::after{
    content: '';
    position: absolute;
    top: 130%;
    left: 50% ;
    transform: translateX(-50%);
    height: 6px;
    width: 16%;
    background-color: #FCF390;
}

.login-form {
    width: 450px;
    height: 50px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
}



 .textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 0px 5px;
    margin: 8px 0;
    border-bottom: 1px solid;
     position: relative;
}

 .textbox i {
    width: 26px; 
    float: left;  
    text-align: center;
    color: #4A4C67 ;
   }

.textbox input {
    border: black; 
    outline: black; 
    background: none;
    color:black;
    font-size: 20px;
    width: 80%;
    float: left;
    margin: 0 10px ;
  }


 .btn {
    width: 100%;  
    background:rgb(197, 243, 235);
    border: 2px solid;
    color:black;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
  }

  /*end login*/



