@import "/onlineInterviews/Components/General.css";

/* Task Page */

/* Task section */

.Task .content{
    padding-top: 30px;
    padding-bottom: 30px;
}

.Task .content h1{
    font-size: 83px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    color: #4A4C67;
}

.Task .content h1:after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width:83%;
    height: 7.5px;
    background-color: #4A4C67;
}

.Task .content h2 {
    font-size: 50px;
    margin-top: 12px;
    font-weight: 700;
    color: #4A4C67;
}
/* end Task section */

/* Task-content section */


.Task-content  .content .text-box{
    background-position: center;
    padding-bottom: 60px;
}

.Task .content p {
    font-size: 60px;
    margin-top: 12px;
    font-weight: 700;
    color: #4A4C67;
}

.button {
    width: 100%;
    background:rgb(197, 243, 235);
    border: 2px solid;
    color:black;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 12px;
}
section {
    background-image: url(/onlineInterviews/Images/greenbackground.png);

}
